.cart {
    margin-top: 80px;
    color: #1D1F22;
    padding-bottom: 40px;    
}

.cartWrapper {
    width: 75%;
}

.cartTitle {
    font-weight: bold;
    font-size: 32px;
    text-transform: uppercase;
    margin-bottom: 60px;
}

.cartItem {
    list-style: none;
    margin-bottom: 20px;
}

.cartLine {
    display: block;
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 20px;
}

.cartItemWrapper {
    display: flex;
    justify-content: space-between;
}

.cartItemTitle {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 15px;
}

.cartItemSubtitle {
    display: block;
    font-weight: normal;
    font-size: 30px;
    margin-bottom: 15px;
}

.prodPrice {
    font-weight: bold;
    font-size: 24px;
    display: flex;
    margin-bottom: 25px;
}

.prodPrice span {
    min-height: 23px;
    display: flex;
    align-items: flex-start;
}

.attributesWrapper {
    display: flex;
}

.attributeTypeWrapper:not(:last-child) {
    margin-right: 15px;
}

.attrBut {
    width: 63px;
    height: 45px;
    font-family: Source Sans Pro;
    font-size: 18px;    
}

.attrBut:first-child {
    margin-right: 5px;
}

.sBut {
    background-color: #ffffff;
    margin-right: 10px;
    border: 1px solid #1D1F22;
}

.mBut {
    color: #fff;
    background-color: #1D1F22;
    border: none;
}

.prodImage {
    display: flex;
}

.galleryWrapper {
    position: relative;
}

.sliderDisplayLeft {
    width: 10px;
    height: 25px;
    padding: 7px;
    position: absolute;
    right: 84%;
    bottom: 50%;
    background-image: url(../../../Images/left.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 60% 60%;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    background-color:rgba(194, 192, 192, 0.5);
}

.sliderDisplayRight {
    width: 10px;
    height: 25px;
    padding: 7px;
    position: absolute;
    right: 3%;
    bottom: 50%;
    background-image: url(../../../Images/right.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 60% 60%;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    background-color:rgba(194, 192, 192, 0.5);
}

.sliderDisplayRight:hover {
    border: 2px solid rgba(138, 132, 132, 0.7);
    cursor: url(../../../Images/slider-right.png), s-resize;
}

.sliderDisplayLeft:hover {
    border: 2px solid rgba(138, 132, 132, 0.7);
    cursor: url(../../../Images/slider-left.png), s-resize;
}

.gallery {
    width: 140px;
    height: 185px;
    display: flex;
    overflow: hidden;
}

.galleryItem {
    min-width: 140px;
    
    /* display: block;    */
}

.imgDisplay {
    width: 140px;
       
    display: block;

}

.imgHidden {    
    display: none;

}

/* .prodImage {
    display: flex;
} */

.countButtons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
}

.countButtons button {
    width: 25px;
    height: 25px;
    font-weight: 600;
    font-family: Source Sans Pro;
    font-size: 16px;
    background-color: #fff;
    border: 1px solid #1D1F22;
    cursor: pointer;
}

.countButtons span {
    font-weight: 500;
    font-size: 16px;
}

.imgProd {
    width: 140px;
    min-height: 185px;
}

