.productItem {
    display: flex;    
    width: 30%;
    margin-top: 80px;
    color: #1D1F22;
}

.galleryItem {
    list-style: none;
    width: 80px;
    margin-bottom: 35px;
}

.imgGalleryItem {
    width: 100%;
}

.imgProd {
    margin-left: 40px;
    margin-right: 100px;
    min-width: 610px;
    max-height: 510px;
}

.prodWrapper {
    display: flex;
    flex-direction: column;
}

.title {
    display: block;
    font-weight: 600;
    font-size: 30px;   
    margin-bottom: 5px; 
}

.subtitle {
    display: block;
    font-weight: normal;
    font-size: 30px;
    margin-bottom: 45px;
}

.sizeTitle {
    display: block;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.prodName {
    display: block;
    font-weight: 300;
    font-size: 18px;    
    margin-top: 25px;
}

.chooseSize {
    width: 295px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
}

.size {    
    height: 45px;
    font-family: Source Sans Pro;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.05em;
    background-color: #fff;
    border: 1px solid #1D1F22;
    cursor: pointer;
    position: relative;
}

.sizeActive {    
    height: 45px;
    font-family: Source Sans Pro;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.05em;
    background-color: #1D1F22;
    color: #fff;
    border: 1px solid #1D1F22;
    position: relative;    
}

.color {    
    height: 45px;    
    border: 1px solid #1D1F22;
    font-family: Source Sans Pro;
    font-size: 16px;
    position: relative;    
} 

.colorActive {    
    height: 45px;    
    border: 2px solid #c9380c;
    font-family: Source Sans Pro;
    font-size: 16px;
    position: relative;     
}

.displayValue {
    display: block;
    position: absolute;
    padding: 3px;
    border: 1px solid #1D1F22;
    border-radius: 5px;
    top: 50px;
    color: #1D1F22;
    display: none;
}

.colorActive .displayValue,
.sizeActive .displayValue {
    color: #1D1F22;
}

.color:hover .displayValue,
.colorActive:hover .displayValue,
.size:hover .displayValue,
.sizeActive:hover .displayValue {
    display: block;
}

.priceTitle {
    display: block;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.prodPrice {
    display: flex;
    font-weight: bold;
    font-size: 24px;
    padding-left: 12px;
    margin-bottom: 20px;
}

.currencySimbol {
    display: block;
}

.currencyAmount {
    display: block;
    margin-left: 3px;
}

.add {
    /* margin-bottom: 40px; */
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    background-color: #5ECE7B;
    width: 295px;
    padding: 10px 0;
    border: none;
    cursor: cell;
}

.inStock {
    display: block;
}

.out  {
    display: none;
}

.inStockFalse {
    /* margin-bottom: 40px; */
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    background-color: #c8e98c;
    width: 295px;
    padding: 10px 0;
    border: none;
    cursor: pointer;
    /* position: relative; */
    display: flex;
    justify-content: center;
    text-align: center;
    cursor: not-allowed;
}

.inStockFalse:hover > .inStock {
    display: none;
}

.inStockFalse:hover > .out {
    display: block;
    /* position: absolute; */
    color: crimson;    
} 

.prodDescription {
    margin-top: 20px;
    display: block;
    font-size: 16px;
    line-height: 26px;
}

.prodDescription h1 {
    font-size: 18px;
    margin-bottom: 2px;
}

.prodDescription li {    
    margin-bottom: 2px;
}